<div class="form">
  <div class="group">
    <mat-form-field class="field">
      <mat-label>Название</mat-label>
      <input matInput />
    </mat-form-field>
  </div>

  <div class="group">
    <mat-form-field appearance="fill" class="field">
      <mat-label>Ссылка</mat-label>
      <input matInput placeholder="URL" />
      <mat-icon matSuffix>link</mat-icon>
      <mat-hint>Документация или статья</mat-hint>
    </mat-form-field>
  </div>

  <div class="group">
    <mat-form-field class="field">
      <mat-label>Краткое описание</mat-label>
      <textarea matInput placeholder="Всё о технологии"></textarea>
    </mat-form-field>
  </div>
</div>
